body{
    font-family: 'Open Sans', sans-serif;
    font: 16px/28px;
    background-color: #eaeaea;
}
h1{
    justify-content: center;   
    text-align: center;
    margin-bottom: 20px;
    font-weight: 200;
}
.navbar-nav{
    display: inline-block;
    /* margin-left: 8px;
    padding-left: 8px; */
}
/* div.nav-item{
    margin-left: 8px;
    padding-left: 8px;
} */
.all-container {
    width: 900px;
    margin: auto;
    background-color:white;
}
.container {
    padding: 10px;
}
input[type=text],input[type=password], select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

div form {
    display: inline-block;
    padding-top: 5px;
    padding-left: 5px;
    border: 10px;
}

#login-page {
    margin-bottom: 30px;
    margin: auto;
    width: 50%;
    padding: 10px;
    padding-left: 30px;
    background-color: ghostwhite;
}
#exchange-api{
    margin-top: 30px;
    padding-bottom: 10px;
    border: 2px solid black;
    padding-left: 50px;
    padding-right: 50px;
}
.exchange-table{
    width: 800px;
    justify-content: center;
}
#edit-page{
    background-color: rosybrown;
    margin-top: 20px;
    width: 440px;
    padding-left: 60px;
    padding-right: 80px;
    padding-top: 50px;
    padding-bottom: 20px;
}
#add-page{
    background-color: rosybrown;
    margin-top: 20px;
    width: 440px;
    padding-left: 60px;
    padding-right: 80px;
    padding-top: 50px;
    padding-bottom: 20px;
}
#add-form {
    width: 400px;
    justify-content: center;
}
#main-page{
    position: relative;
    margin: auto;
    /* width: 50%; */
    /* display: inline-block; */
    justify-content: center;
    right: 400px;
    left: 4px;
    /* left: 50px; */
}

.todo-list{
    margin: auto;
    /* border: 3px; */
}
#todo-list {
    background-color: seashell;
    border: 2px;
    width: 50%;
    position: relative;
    bottom: 375px;
    left: 500px;
}
/* #todo-table{
    border: 1px;
    background-color: rgb(102, 255, 255);
} */
.center-text{
    text-align: center;
}
.nav-item{
    text-shadow: 1px 1px 1px rgba(0, 0,0, 0.7);
}