
h1 {
    color: rgb(113, 223, 10);
    text-align: center;
}

body{
    background-image: url('https://cdn.wallpaperhub.app/cloudcache/7/4/f/3/d/5/74f3d51cbec9db78da32e103de1b28538af1b76a.jpg');
    background-size: cover;
    color: beige;
}

.form-login{
    margin-left: 30%;
    margin-top: 17%;
    font-size: 30px;
}

h1{
    color: beige;
}

.main-page{
    background-image: url('http://i.stack.imgur.com/kx8MT.gif');
    background-size: cover;
    height: 100vh;
    padding:0;
    margin:0;
}


.todos{
    border-style: dotted;
    text-align: center;
    margin-top: 10px;
    object-fit: cover;
    margin-left: 30%;
    margin-right: 30%;
    background-image: url('https://i.pinimg.com/originals/fd/3c/cd/fd3ccd7b49e366b4206f5ac7f8fa8dac.gif');
    background-size: cover;
    color: beige;
}


.form-add-todo{
    margin-left: 30%;
    font-style: italic;
    font-size: 20px;
}

input{
    width: 70%;
}

input:focus {
    border: 3px solid #555;
  }

input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 4px;
}

button:hover{
    background-color: #3e8e41
}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

