* {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

body {
  overflow-x: hidden;
}
/* LOGIN PAGE */

#login_form,
#register_form {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  overflow: hidden;
}
.register-right {
  width: 40%;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 8rem;
}
.register-left {
  width: 60%;
  background-color: palegoldenrod;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.register-btn {
  background-color: black;
  color: white;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 10px 96px;
}

.register-right form {
  display: flex;
  width: 50%;
  flex-direction: column;
  z-index: 99;
}

.register-right input {
  margin-top: 1rem 0;
  height: 40px;
  margin-bottom: 0.75rem;

}
#judul-register-form {
  margin: 60px;
}

.login-page-left {
  width: 60%;
  background-color: #ad9b82;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}


.login-page-right {
  width: 40%;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.login-page-right h1 {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.login-page-right form {
  display: flex;
  width: 50%;
  flex-direction: column;
  z-index: 99;
}

.login-page-right input {
  margin-top: 1rem 0;
  height: 40px;
  margin-bottom: 0.75rem;

}

.login-btn {
  background-color: black;
  color: white;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 10px 0;
}
#quote, #jokes {
  padding: 20px;
  align-items: center;
  justify-content: center;
  align-content: center;
}
#quote h1 {
  text-align: center;
  color: white;
}
#quote h4 {
  margin-top: 10px;
  margin-left: 230px;
  justify-self: center;
  color: black;
}

/* NAVBAR */

nav {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: black;
  color: white;
  margin: 10px, 0px;
  justify-content: space-between;
}

.nav-left {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 10px;
}

.nav-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 2rem;
}

.nav-right button {
  padding: 10px;
  cursor: pointer;
  background-color: white;
  padding: 5px 20px;
  border: none;
  border-radius: 10px;
  height: 30px;
}

#main_page {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  overflow: hidden;
}
.main-page-right {
  width: 30%;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 8rem;
}
.main-page-left {

  width: 70%;
  background-color: #f1edff;
  height: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.main-page-left h1 {
  margin-top: 20px;
  text-align: center;
}

.main-page-left table {
  margin: 50px 20px;
  text-align: center;
  width: 95%;
}