.body-color {
  background-color: #8bcdcd
}

.nav-color {
  background-color: lightsalmon;
  padding: 5px;
  margin-bottom: 30px
}

.text-setter {
  margin-left: 8px
}

.form-text {
  text-align: center
}

.btn-margin {
  margin: 20px
}

.btn-place {
  display: flex;
  justify-content: center;
}

.form-color {
  border-radius: 10px;
  background-color: lightsalmon;
  padding: 10px;
  margin: auto auto
}

.card {
  width: 18rem
}